@model  _45_Partial_View.Models.Employee
<div class="row" style="border:solid 1px">
    <div class="col-lg-6">
        <h2>Name - @Model.Name</h2>
        <p>Id - @Model.Id</p>
        <p>Email - @Model.Email</p>

    </div>
    <div class="col-lg-6">
        
        <p>Description  - @Model.Description </p>

    </div>

</div>