@model _22_Validation_in_MVC_lossly_binding.Models.Employee 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitData</title>
</head>
<body>
    <div> 
           <h1>Data Added</h1>
    </div>
</body>
</html>
