
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>
            @ViewBag.Code
        </h1>
    </div>
    <div>
        <ul>
            @foreach (var item in ViewBag.MyList)
            {
                <li>@item</li>
            }
        </ul>
    </div>
    <div>
        <ul>
            @foreach (var item in ViewBag.MyEmpList)
            {
                <li>Name - @item.Name , Email-@item.Email, ID - @item.ID</li>
            }          
            
        </ul>
    </div>
</body>
</html>
