@model _42_AjaxBeginForm.Models.Employee
@{
    ViewBag.Title = "Index";
}

<div style="display:none" id="loader">
    <img src="~/Content/123.gif" height="100", width="200"  /> 
</div>
@using (@Ajax.BeginForm("Index", new AjaxOptions() 
{
      OnSuccess = "fnsuccess",
      OnFailure = "fnfailed",
      HttpMethod="POST",
      LoadingElementId="loader",
      LoadingElementDuration=2000
}))
     
{
    <div>
        @Html.EditorFor(x=>x.FirstName)
        <br />
        <br />
        @Html.EditorFor(x=>x.LastName)
        <br />
        <br />
        @Html.EditorFor(x=>x.Email)
        <br />
        <br />
        <input type="submit" value="Click me" />
    </div>
}
    <script>
        function fnsuccess(data)
        {
            console.log(data);
            alert("Hello from Success");

        }
        function fnfailed()
        {
            console.error(err);
            alert("Hello from Error");
        }
    </script>

