

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<script src="~/Content/JS/JavaScript.js"></script>*@
    @*<script src="~/Content/JS/JavaScript1.js"></script>
    <script src="~/Content/JS/JavaScript2.js"></script>
    <script src="~/Content/JS/JavaScript3.js"></script>
    <script src="~/Content/JS/JavaScript4.js"></script>
    <script src="~/Content/JS/JavaScript5.js"></script>*@

  @System.Web.Optimization.Scripts.Render("~/bundles/js");
  @System.Web.Optimization.Styles.Render("~/bundle/css");

    

</head>
<body>
    <div> 
        <h1>Hello From Index</h1>
    </div>
</body>
</html>
