
@{
    ViewBag.Title = "Index";
}

<h2>Hello From Admin Views</h2>
@Html.ActionLink("Sales index view", "Index", "Home", new { Area = "Sales" }, null)
<br />
@Html.ActionLink("Sales index view", "Index", "Home", new { Area = "" }, null)
