
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDate</title>
</head>
<body>
    <div> 
        <div> Hello from GetData</div>
        <div>Hello form Date Time - @DateTime.Now</div>
    </div>
</body>
</html>
