
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello Home, This is the Index Page</h1> 
    </div>
    <a href="/Home/AboutUs">Home - AboutUs</a><br/>
    <a href="/Employee/Index">Employee - Index</a><br />
    <a href="/Employee/AboutUs">Employee - AboutUs</a><br />
    </body>
</html>
